.nosotros-inicio-section{
 
    height: 100vh;
    position: relative;
 
}
.nosotros-inicio-section p{
 
    position: absolute;
    z-index: 5;
    color: white;
    text-align: justify;
    bottom: 90px;
    width: 385px;
    /* left: 0; */
    right: 98px;
    font-size: 19px;
}
.triangulo{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    z-index: 2;
   
}

.titles-acerca{
   
    margin: 0;
    position: absolute;

    top: 120px;
    left: 124px;
}
.selfie{
    position: absolute;
    left: 266px;
    top: 207px;
    width: 356px;
    z-index: 1;
}
.secciones-titles{
    margin: 50px auto;
}
.secciones-img{

    margin-left: 145px;
}
.secciones-img-right{
    
    margin-right: 145px;
}
.titles-responsive{
    display: none;
}
.secciones-text-titles p{
    font-size: 46px;
}
.secciones-text-titles-sis p{
    font-size: 50px;
}
/*
******************
====Resposive=======
**********************
*/



@media only screen and (min-width: 1400px) {

    /* For pantallas mas grandes: */
    .nosotros-inicio-section p{
  
    bottom: 90px;
    width: 596px;
    /* left: 0; */
    right: 272px;
    font-size: 25px;
    }
    .selfie{
        left: 282px;
        top: 305px;
    }
}
@media only screen and (max-width: 1200px) {
    .titles-responsive{
        display: block;
    }
    .nosotros-inicio-section{
 
        height: 100vh;
        position: static;
        display: flex;
       justify-content: center;
        align-items: center;
    }
    
    .selfie{
        display: none;
    }
    .titles-acerca{
        text-align: center;
        left: auto;
        width: auto;
        right: auto;
        bottom: auto;
    }
    .nosotros-inicio-section p{
        
        color: rgb(71, 71, 71);
        margin: 49px;
        width: auto;
        right: auto;
        bottom: auto;
       
    }
    .triangulo{
        display: none;
    }
}
@media only screen and (max-width: 800px) {

    /* For tablets: */
    .titles-acerca{
        
        top: 60px;
    }
    .nosotros-inicio-section p{

        margin: 20px;
      
       
    }
    
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .nosotros-inicio-section p{
        
        bottom: 0;
       
      
       
    }
}
